<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dude.szene38" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".overview">
        <action android:name="android.intent.action.overview" />
        </activity>

        <activity android:name=".info">

        </activity>


        <activity android:name=".btn2">
            <action android:name="android.intent.action.webview1" />
        </activity>

        <activity android:name=".btn1">
            <action android:name="android.intent.action.webview1" />
        </activity>

        <activity android:name=".btn3">
            <action android:name="android.intent.action.webview1" />
        </activity>

        <activity android:name=".btn4">
            <action android:name="android.intent.action.webview1" />
        </activity>

        <activity android:name=".btn5">
            <action android:name="android.intent.action.webview1" />
        </activity>

        <activity android:name=".btn6">
            <action android:name="android.intent.action.webview1" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
